body {
    background-color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100dvh;
    font-size: 24px;
    font-weight: 800;
}

.header, .footer {
    height: 48px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 18px;
    text-align: center;
}

.header {
    background-color: rgb(61, 61, 61);
    color: rgb(224, 224, 224);
    justify-content: space-between;
    /* color: rgb(194, 24, 24); */
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
    padding: 24px;
}

img {
    width: 500px;
    height: 180px;
    margin-top: -10px;
    object-fit: cover;
    object-position: 0% 0%;
    position: static;
}

.img.alert-trigger {
    display: block;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    max-width: 650px; 
    /* color: rgb(185, 0, 0); */
    margin: 0 auto;
    position: sticky;
    background-color: white;
    border: none;
}

.img.info, .img.link {
   font-size: 14px;
   margin-top: -10px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 42px;
}

h2 {
    margin-top: 0;
    margin-bottom: 12px;
    color: rgb(187, 11, 11);
    font-size: 36px
}

p {
    max-width: 900px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 20px;
}

a {
    color: rgb(212, 42, 42);
    text-decoration: none;
}

.footer {
    background-color: rgb(179, 6, 6);
    color: white;
    justify-content: flex-end;
}