body {
    background-color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100dvh;
    font-size: 24px;
    font-weight: 800;
}

.header, .footer {
    height: 48px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 18px;
    color: rgb(82, 82, 82);
}

.header {
    background-color: rgb(238, 238, 238);
    justify-content: space-between;
    /* color: rgb(194, 24, 24); */
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
    padding: 24px;
}

.img.placeholder {
    background-color: rgb(199, 199, 199);
    box-sizing: border-box;
    border: 3px solid grey;
    text-align: center;
    padding: 18px;
    flex-shrink: 1;
}

h1 {
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
    margin-bottom: 12px;
    color: rgb(187, 11, 11);
}

p {
    max-width: 700px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 24px;
}

a {
    color: rgb(212, 42, 42);
    text-decoration: none;
}

.footer {
    background-color: rgb(209, 209, 209);
    justify-content: flex-end;
}