body {
    background-color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100dvh;
    font-size: 24px;
    font-weight: 800;
}

.header, .footer {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 18px;
    color: rgb(82, 82, 82);
    text-align: center;
}

.header {
    height: 48px;
    background-color: rgb(211, 211, 211);
    justify-content: space-between;
    /* color: rgb(194, 24, 24); */
}

.content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex: 1;
}

.side.left {
    background-color: rgb(230, 230, 230);
    width: fit-content;
    padding: 24px;
    box-sizing: border-box;
}

.side.left ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgb(65, 64, 64);
}

a {
    text-decoration: none;
    color: inherit;
}

.side.right {
    background-color: rgb(255, 255, 255);
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 24px;
    font-size: 20px;
}

.footer {
    min-height: 90px;
    background-color: rgb(153, 153, 153);
    justify-content: flex-end;
    align-items: stretch;
    gap: 20px;
    padding: 20px 100px;
    flex-wrap: wrap;
}

.solution {
    flex: 1;
    background-color: rgb(128, 128, 128);
    border: 3px solid rgb(88, 88, 88);
    color: white;
    font-size: 30px;
    border-radius: 10px;
    min-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}